<%= form_for([@zombie, @zombie.tweets.new], :html => { :class => 'form-inline' } ) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :status %>
    <%= f.text_field :status %>
    <%= f.submit :class => 'btn btn-success btn-small' %>
<% end %>
