<h1><%= @zombie.name.titleize%>'s tweets</h1>
<% if ! @tweets.empty? %>
<table id="tweets" class="table table-hover">
  <tr>
    <th>Status</th>
    <th>Time</th>
    <th></th>
    <th></th>
  </tr>
  <%= render @tweets %>
</table>

<% else %>
<p><em>No tweets found</em></p>
<% end %>

<%= link_to 'Back', @zombie, :class => 'btn' %>

<%# @zombie => Tweet will use the :zombie => {:id => zombie.id} hash condition
# that I defined in ability.rb %>
<% if can? :manage, @zombie => Tweet %>
  <%= link_to 'New Tweet', new_zombie_tweet_path, :class => 'btn btn-primary indexaddtweet' %>
<% end %>

<div id="addtweet">
  <h3>Add a new Tweet</h3>
  <%= form_for([@zombie, @zombie.tweets.new], remote: true, :html => { :class => 'form-inline' } ) do |f| %>
    <%= f.label :status, "Any zombie news worth sharing?" %>
    <%= f.text_field :status %>
    <%= f.submit :class => 'btn btn-success btn-small' %>
<% end %>
  
</div>
