<h1>Listing zombies</h1>

<table class="table table-hover" id="zombies">
  <tr>
    <th>Name</th>
    <th>Brain Flavor</th>
    <th>Bio</th>
    <th>Age</th>
    <th>Email</th>
    <th>Number of Tweets</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @zombies %></table>

<h1>Add a new Zombie</h1>

<%= form_for(Zombie.new, remote: true , :html => { :class => 'form-horizontal' } ) do |f| %>
<div class="control-group">
  <%= f.label :name , :class => "control-label"%>
  <div class="controls"><%= f.text_field :name %></div></div>
<div class="control-group">
  <%= f.label :email , :class => "control-label"%>
  <div class="controls"><%= f.text_field :email %></div></div>
<div class="control-group">
  <%= f.label :bio , :class => "control-label"%>
  <div class="controls"><%= f.text_area :bio, :rows => 4 %></div></div>
<div class="control-group">
  <%= f.label :age , :class => "control-label"%>
  <div class="controls"><%= f.number_field :age %></div></div>
<div class="control-group">
  <%= f.label :decomp, "Decomposition State", :class => "control-label"%>
  <div class="controls"><%= f.text_field :decomp %></div></div>
<div class="controls">
  <%= f.submit :class => 'btn btn-primary' %></div>
<% end %>